.products-grid{
  display: grid;
  grid-template-columns: repeat(1,1fr);
}

ol li {
  margin:  20px 5px;
  text-align: center;
}

ol li a{
  color: #BFA2DB;
  font-size: 20px;
}

@media(min-width:600px){
  .products-grid{
    grid-template-columns: repeat(2,1fr);

  }
}
