<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li *ngFor="let productos of products"  class="breadcrumb-item"><a href="#">{{productos.category}}</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>
</div>

<div class='products-grid'>
  <app-product
    *ngFor="let productos of products"
    (productClicked)='clickProduct($event)'
    [product]= 'productos'
  ></app-product>
</div>
