  <mat-toolbar class="navbar">
    <mat-toolbar-row class="header">
      <div class="row between-xs middle-xs header">
        <div class="iconmenu col-xs-6 start-xs">
          <button class="menu box" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon  class="iconm">menu</mat-icon>
          </button>
        </div>
        <div class="Nombre col-xs-6 start-xs">
          <span class="box" routerLink='/home'>Space High</span>
        </div>
        <nav id="items" class="nav col-xs-6 end-xs">
            <a mat-button class="box" aria-current="page" routerLink="/home" routerLinkActive="active">Home<mat-icon class="icon home">house</mat-icon></a>
            <a mat-button class="box" routerLink="/products" routerLinkActive="active">Products<mat-icon class="icon fire">local_fire_department</mat-icon></a>
            <a mat-button class="box" routerLink="/contact" routerLinkActive="active">Contact<mat-icon class="icon contact">contact_support</mat-icon></a>
            <a mat-button class="box" routerLink="/car" routerLinkActive="active" [matBadge]="items" [matBadgeHidden]="items===0" (click)="emptyCart()">Backpack<mat-icon  class="icon bag">backpack</mat-icon></a>
        </nav>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
