<footer>
  <div class="footer-content">
    <h3>SPACE HIGH</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quia amet iure voluptatibus, est doloribus magnam! Culpa, porro exercitationem tempore aliquid eveniet asperiores praesentium! Expedita ab minus quisquam ipsam consectetur.</p>
    <ul class = "socials">
      <li>
        <a target="_blank" href="https://www.instagram.com/spacehigh.clothes/">
          <mat-icon>photo_camera</mat-icon>
        </a>
      </li>
      <li>
        <a href="">
          <mat-icon>thumb_up</mat-icon>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
        </li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>Copyright &copy;2021 spacehigh desing by <span>Edgar Tamayo</span></p>

  </div>
</footer>
