<div class="container">
  <section class="contact">
      <div class="content">
        <h3>Contact Us</h3>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <div class="container-contact">
          <div class="contactinfo">
            <div class="infor-header">
              <div class="box">
                <div class="icon">
                  <i class="fa fa-map-pin" aria-hidden="true"></i>
                </div>
                <div class="text">
                    <h4>Address</h4>
                    <p>446 Lily, <br>Fairfiel, California <br> 94533</p>
                </div>
              </div>
              <div class="box">
                <div class="icon">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="text">
                    <h4>Phone</h4>
                    <p><b>(707)770-7383</b></p>
                </div>
              </div>
              <div class="box">
                <div class="icon">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="text">
                    <h4>Mail</h4>
                    <p><b>Space.high23@gmail.com</b></p>
                </div>
              </div>
            </div>
            <div class="info-maps">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100284.0476390604!2d-122.10115466184348!3d38.235973278794695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808514d0f123c8db%3A0x5c335616d29bf368!2sFairfield%2C%20California!5e0!3m2!1ses!2sus!4v1628230986455!5m2!1ses!2sus"  allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        <div class="contact-form">
            <h4>Contactanos</h4>
              <div class="inputbox">
                <input type="text" name="" required="required">
                <span>Nombre completo</span>
              </div>
              <div class="inputbox">
                <input type="text" name="" required="required">
                <span>Correo electronico</span>
              </div>
              <div class="inputbox">
                <input type="text" name="" required="required">
                <span>Numero de telefono</span>
              </div>
              <div class="inputbox">
                <input type="text" name="" required="required">
                <span>Escriba su mensaje</span>
              </div>
              <div class="inputbox">
                  <button  mat-raised-button color="primary" type="submit">Enviar</button>
              </div>
            </div>
        </div>
  </section>
</div>
